    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Trabajos Realizados
                    <small>Sistemas Web</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Inicio</a>
                    </li>
                    <li class="active">Portafolio</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="img/1/foto4.png" alt="Globalsys">
                </a>
            </div>
            <div class="col-md-5">
                <h3>GlobalSys</h3>
                <h4>Sistemas de inscripcion</h4>              
                <p>Sistema de inscripcion autoadministrable, Es te sistema usa tecnologica responsive es decir autoredimensionable para cualquier resolucion de pantalla, 100% compatibles con dispostivos telefonicos, Tablets, Laptops, Computadoras de Escritorio, Smart Tv.
                <br><br>
                Globalsys, es un sistema 95% dinamico, por lo que todo se recarga dinamicamente, cuenta con  secciones de noticias, contacto, zona de descarga de contenido, formularios de inscripcion,  detalles de la empresa,  calendarios programables, formulario de pago, comprobacion de pagos</p>
                <a href="#" class="btn btn-primary"  id="globalsys">Ver Proyecto</i></a>
            </div>
        </div>
        <hr>
        <!-- /.row -->
          <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="img/1/foto4.png" alt="Globalsys">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Servilogin</h3>
                <h4>Gestor de ventas, proyectos y contratos</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a href="#" class="btn btn-primary"  id="servilogin" >Ver Proyecto</i></a>
            </div>
        </div>


      
        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>

