    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Servilogin
                    <small>Gestor de ventas, proyectos y contratos</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Inicio</a>
                    </li>
                    <li><a href="#" id="portafolio2" name="1">Portafolio</a>
                    </li>
                    <li class="active">Servilogin</li>
                </ol>

            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" src="img/1/foto4.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/1/foto5.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/1/foto6.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/1/foto7.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/1/foto8.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/1/foto3.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/1/foto2.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/1/foto1.png" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Descripcion</h3>
                <p>Sistema de inscripcion autoadministrable, Es te sistema usa tecnologica responsivo es decir autoredimensionable para cualquier resolucion de pantalla, 100% compatibles con dispostivos telefonicos, Tablets, Laptops, Computadoras de Escritorio, Smart Tv.
                <br><br>
                Globalsys, es un sistema 95% dinamico, por lo que todo se recarga dinamicamente, cuenta con  secciones de noticias, contacto, zona de descarga de contenido, formularios de inscripcion,  detalles de la empresa,  calendarios programables, formulario de pago, comprobacion de pagos</p>
               
                
            </div>

        </div>
        <!-- /.row -->
            <div class="row">
                 <div class="col-md-6">
                      <h3>Detalles del proyecto</h3>
                    <ul>
                        <li>Permite La creacion de areas</li>
                        <li>Permite la creacion de curso y asociarlo a un area determinada</li>
                        <li>Formulario de inscripcion, con validaciones en los campos</li>
                        <li>Formulario de facilitadores, con validaciones en los campos</li>
                        <li>Creacion y edicion de noticias para blog</li>
                        <li>Validacion de pagos</li>
                        <li>Zona de contacto autoadministrable</li>

                    </ul>

                 </div>
                  <div class="col-md-6">
                      <h3>Tecnologica Usada</h3>
                    <ul>
                        <li>Html5</li>
                        <li>Css3</li>
                        <li>Javascript</li>
                        <li>Jquery</li>
                        <li>Bootstrap 3 </li>
                        <li>Php</li>
                        <li>Mysql</li>
                    </ul>
                 </div>
            </div>
        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

